{% extends "_base.htm" %}

{% block title %}
	MMCMI
{% endblock %}

{% block pageblock %}

	<h1><div id="up">
		<div class="concept concept-three">
    <div class="word">
      <div class="hover">
        <div></div>
        <div></div>
        <h1>M</h1>
      </div>
      <div class="hover">
        <div></div>
        <div></div>
        <h1>O</h1>
      </div>
      <div class="hover">
        <div></div>
        <div></div>
        <h1>N</h1>
      </div>
      <div class="hover">
        <div></div>
        <div></div>
        <h1>T</h1>
      </div>
      <div class="hover">
        <div></div>
        <div></div>
        <h1>E</h1>
      </div>
      <div class="hover">
        <div></div>
        <div></div>
        <h1>C</h1>
      </div>
      <div class="hover">
        <div></div>
        <div></div>
        <h1>A</h1>
      </div>
      <div class="hover">
        <div></div>
        <div></div>
        <h1>R</h1>
      </div>
      <div class="hover">
        <div></div>
        <div></div>
        <h1>L</h1>
      </div>
      <div class="hover">
        <div></div>
        <div></div>
        <h1>O</h1>
      </div>
    </div>
  </div>
</h1>

<video autoplay muted loop id="myVideo">
  <source src="https://static.videezy.com/system/resources/previews/000/022/292/original/4k-abstract-white-shadow-glass-losange-background.mp4">
</video>

<h3><a class="button" href="method.htm">START METHOD</a></h3>
<br>
<br>
<br>
<h2><a class="button" a href="results.htm">RESULTS</a></h2>

	<div id="down">
		</h4>
		</form>
		<br>
    <br>
    <br>

		<div id="up">
		</div>
		<br/>
		{% if note %}
		<h3 style="color: black">
			{{ note }}
		</h3>
		{% endif %}

		{% if note %}
		<h3 style="color: black">
			{{ note[2:5] }}
		</h3>
		{% endif %}
	
	</div>

	

{% endblock %}


<!-- Reference : https://codepen.io/oliviale/pen/YgzNzK -->


